
html {background-image: url("monsteria.jpg"); padding: 100px;}

.body1 {background-color: #b9c097;
    border: 10px solid #506f3a;font-family: 'Muli', sans-serif;display:block; }

.h1 {font-family: 'Muli', sans-serif; font-style: 50px;text-align: center;}

.h2 {font-family: 'Muli', sans-serif;font-size: 2rem;}

.p {font-family: 'Muli', sans-serif; border: 5px groove #7b887f;padding: 100px;margin: 100px;}

header {display: flex; padding: 50px; justify-content: space-between;}

.nav {font-family: 'Muli', sans-serif;font-style:10px #7b887f;display: flex;flex-direction: column;}

footer {font-family: 'Muli', sans-serif;font: small-caption;margin: 30px; text-align: center; }

/* say hello! css */

.body2 {background-color: #b9c097;
        border: 10px solid #506f3a;font-family: 'Muli', sans-serif; }


.form {text-align: center;
    font-family: 'Muli', sans-serif; }

    /* media quries */
    
    /*  Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {}
    
    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) { }
    
    /*  Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {}
    
    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {}